.people_page {
  padding: 40px 20px;
  color: #fff;
  display: flex;
}

@media (max-width: 750px) {
  .people_page {
    flex-wrap: wrap;
  }
}

.people_page .people_image_info {
  flex-shrink: 0;
  margin-right: 20px;
}

@media (max-width: 750px) {
  .people_page .people_image_info {
    margin-right: auto;
    flex-grow: 1;
    flex-shrink: unset;
    display: flex;
  }
}

@media (max-width: 600px) {
  .people_page .people_image_info {
    display: unset;
  }
}

.people_page .people_image_info .people_image {
  text-align: center;
  flex-shrink: 0;
}

.people_page .people_image_info .people_image img {
  max-width: 100%;
  border-radius: 6px;
}

.people_page .people_image_info .people_info {
  margin-top: 20px;
}

@media (max-width: 750px) {
  .people_page .people_image_info .people_info {
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 0px;
  }

  .people_page .people_image_info .people_info .people_title {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .people_page .people_image_info .people_info {
    margin-left: 0px;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .people_page .people_image_info .people_info .all_personal_info {
    display: flex;
    flex-wrap: wrap;
  }

  .people_page
    .people_image_info
    .people_info
    .all_personal_info
    > div:not(.also_know_as) {
    margin-inline-end: 45px;
  }
}

.people_page .people_image_info .people_info .people_answer {
  margin-inline-start: 10px;
}

.people_page .people_image_info .people_info .also_know_as ul {
  padding-left: 10px;
}

.people_page .people_image_info .people_info .also_know_as ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

@media (max-width: 750px) {
  .people_page .people_image_info .people_info .also_know_as ul {
    display: flex;
    flex-wrap: wrap;
  }

  .people_page .people_image_info .people_info .also_know_as ul li {
    margin-inline-end: 20px;
  }
}

@media (max-width: 600px) {
  .people_page .people_image_info .people_info .also_know_as ul {
  }

  .people_page .people_image_info .people_info .also_know_as ul li {
  }
}

.people_page .people_biography .people_name {
  margin-bottom: 30px;
}

.people_page .people_biography .biography {
  letter-spacing: 0.5px;
  line-height: 1.4;
}
